In [7]:
import matplotlib
import PIL
import os

path = 'C:/Users/Mihail/Desktop/Учёба/ML/data/dice/dice_photoset_2/'
directory = os.fsencode(path + 'origin/')

delta = 220
delta2 = int(delta/2)
size1 = 3264
size1_half = int(size1/2)
size2 = 2448
size2_half = int(size2/2)
boxes1 = ((0, 0, size1, size2 - delta),
            (0, 0, size1_half, size2_half - delta2),
            (0, size2_half - delta2, size1_half, size2 - delta),
            (size1_half, 0, size1, size2_half - delta2),
            (size1_half, size2_half - delta2, size1, size2 - delta),)
boxes2 = ((0, 0, size2, size1 - delta),
            (0, 0, size2_half, size1_half - delta2),   
            (0, size1_half - delta2, size2_half, size1 - delta),
            (size2_half, 0, size2, size1_half - delta2),
            (size2_half, size1_half - delta2, size2, size1 - delta),)
for file in os.listdir(directory)[1:]:
    filename = os.fsdecode(file)
    img = PIL.Image.open(path + 'origin/' + filename)
    PIL.ImageOps.exif_transpose(img, in_place=True)
    if img.height == size2:
        boxes = boxes1
    elif img.height == size1:
        boxes = boxes2
    img2 = img.crop(boxes[0])
    img2.crop(boxes[1]).save('C:/Users/Mihail/Desktop/Учёба/ML/data/dice/dice_photoset_2/changed/' + filename.split('.')[0] + '_changed1.jpg')
    img2.crop(boxes[2]).save('C:/Users/Mihail/Desktop/Учёба/ML/data/dice/dice_photoset_2/changed/' + filename.split('.')[0] + '_changed2.jpg')
    img2.crop(boxes[3]).save('C:/Users/Mihail/Desktop/Учёба/ML/data/dice/dice_photoset_2/changed/' + filename.split('.')[0] + '_changed3.jpg')
    img2.crop(boxes[4]).save('C:/Users/Mihail/Desktop/Учёба/ML/data/dice/dice_photoset_2/changed/' + filename.split('.')[0] + '_changed4.jpg')

In [8]:
import matplotlib
import PIL
import os

directory = os.fsencode(path + 'changed')
image_size_dir = {}
for file in os.listdir(directory):
    filename = os.fsdecode(file)
    img = PIL.Image.open('C:/Users/Mihail/Desktop/Учёба/ML/data/dice/dice_photoset_2/changed/' + filename)
    image_size_dir[filename] = list((img.width, img.height))

In [9]:
import pandas as pd
annotations_path2 = '../../data/dice/dice_photoset_2/'
annotations_filename = 'dice_set2_json.json'
annotations = pd.read_json(annotations_path2 + annotations_filename).T
annotations = annotations[annotations['regions'].str.len() != 0]
annotations.head()

,filename,size,regions,file_attributes
P_20240928_215338_changed1.jpg148273,P_20240928_215338_changed1.jpg,148273,"[{'shape_attributes': {'name': 'polygon', 'all...",{}
P_20240928_215338_changed2.jpg135360,P_20240928_215338_changed2.jpg,135360,"[{'shape_attributes': {'name': 'polygon', 'all...",{}
P_20240928_215338_changed3.jpg149662,P_20240928_215338_changed3.jpg,149662,"[{'shape_attributes': {'name': 'polygon', 'all...",{}
P_20240928_215338_changed4.jpg134454,P_20240928_215338_changed4.jpg,134454,"[{'shape_attributes': {'name': 'polygon', 'all...",{}
P_20240928_215349_changed1.jpg145585,P_20240928_215349_changed1.jpg,145585,"[{'shape_attributes': {'name': 'polygon', 'all...",{}

In [4]:
annotations.loc['P_20240928_215338_changed1.jpg148273', 'regions']

[{'shape_attributes': {'name': 'polygon',
   'all_points_x': [381,
    398,
    411,
    420,
    429,
    439,
    447,
    452,
    452,
    451,
    437,
    409,
    392,
    379,
    367,
    362,
    362,
    364],
   'all_points_y': [22,
    21,
    23,
    26,
    31,
    40,
    54,
    68,
    83,
    100,
    111,
    113,
    108,
    98,
    81,
    65,
    47,
    33]},
  'region_attributes': {'dice_value': '5'}},
 {'shape_attributes': {'name': 'polygon',
   'all_points_x': [992,
    1009,
    1025,
    1038,
    1045,
    1047,
    1042,
    1035,
    1028,
    1022,
    1006,
    980,
    970,
    960,
    959,
    963,
    970,
    977],
   'all_points_y': [289,
    294,
    303,
    313,
    324,
    336,
    349,
    367,
    378,
    382,
    380,
    369,
    358,
    346,
    334,
    319,
    305,
    295]},
  'region_attributes': {'dice_value': '4'}},
 {'shape_attributes': {'name': 'polygon',
   'all_points_x': [518,
    564,
    574,
    577,
    577,
    574,
    567,
    562,
    556,
    542,
    499,
    487,
    485,
    489,
    496,
    505],
   'all_points_y': [663,
    682,
    690,
    700,
    707,
    721,
    737,
    742,
    744,
    745,
    730,
    719,
    703,
    686,
    673,
    665]},
  'region_attributes': {'dice_value': '2'}},
 {'shape_attributes': {'name': 'polygon',
   'all_points_x': [557,
    568,
    583,
    596,
    605,
    616,
    626,
    642,
    640,
    630,
    601,
    586,
    576,
    567,
    556,
    548,
    548,
    551],
   'all_points_y': [837,
    829,
    824,
    821,
    822,
    827,
    838,
    866,
    884,
    894,
    908,
    906,
    901,
    894,
    880,
    863,
    851,
    843]},
  'region_attributes': {'dice_value': '1'}},
 {'shape_attributes': {'name': 'polygon',
   'all_points_x': [981,
    984,
    991,
    1003,
    1016,
    1031,
    1042,
    1050,
    1058,
    1063,
    1065,
    1062,
    1053,
    1023,
    1009,
    995,
    989,
    981],
   'all_points_y': [793,
    784,
    780,
    776,
    775,
    774,
    776,
    780,
    789,
    813,
    833,
    841,
    850,
    855,
    854,
    847,
    840,
    817]},
  'region_attributes': {'dice_value': '2'}},
 {'shape_attributes': {'name': 'polygon',
   'all_points_x': [1097,
    1097,
    1104,
    1118,
    1130,
    1141,
    1149,
    1162,
    1185,
    1186,
    1177,
    1147,
    1137,
    1129,
    1101],
   'all_points_y': [861,
    855,
    846,
    835,
    829,
    825,
    825,
    838,
    874,
    881,
    894,
    912,
    913,
    910,
    873]},
  'region_attributes': {'dice_value': '6'}},
 {'shape_attributes': {'name': 'polygon',
   'all_points_x': [1219,
    1225,
    1235,
    1253,
    1264,
    1275,
    1285,
    1302,
    1301,
    1294,
    1284,
    1263,
    1256,
    1243,
    1221],
   'all_points_y': [930,
    923,
    917,
    909,
    907,
    906,
    917,
    956,
    964,
    973,
    979,
    989,
    990,
    988,
    946]},
  'region_attributes': {'dice_value': '1'}},
 {'shape_attributes': {'name': 'polygon',
   'all_points_x': [1528,
    1520,
    1509,
    1504,
    1505,
    1511,
    1550,
    1561,
    1571,
    1585,
    1587,
    1582,
    1542],
   'all_points_y': [752,
    764,
    790,
    805,
    812,
    819,
    837,
    838,
    831,
    801,
    781,
    773,
    753]},
  'region_attributes': {'dice_value': '1'}},
 {'shape_attributes': {'name': 'polygon',
   'all_points_x': [1241,
    1250,
    1259,
    1275,
    1290,
    1302,
    1309,
    1309,
    1305,
    1299,
    1292,
    1256,
    1242,
    1237,
    1237],
   'all_points_y': [121,
    113,
    111,
    112,
    115,
    123,
    136,
    162,
    187,
    196,
    203,
    199,
    191,
    170,
    137]},
  'region_attributes': {'dice_value': '5'}},
 {'shape_attributes': {'name': 'polygon',
   'all_points_x': [1350,
    1368,
    1383,
    1394,
    1396,
    1378,
    1366,
    1325,
    1313,
    1313,
    1321,
    1334],
   'all_points_y': [123,
    131,
    141,
    153,
    176,
    215,
    221,
    205,
    188,
    170,
    146,
    127]},
  'region_attributes': {'dice_value': '3'}},
 {'shape_attributes': {'name': 'polygon',
   'all_points_x': [1361,
    1365,
    1380,
    1423,
    1433,
    1441,
    1446,
    1444,
    1437,
    1423,
    1412,
    1401,
    1374,
    1365],
   'all_points_y': [38, 23, 0, 0, 11, 22, 34, 48, 67, 83, 87, 85, 70, 51]},
  'region_attributes': {'dice_value': '1'}},
 {'shape_attributes': {'name': 'polygon',
   'all_points_x': [1471,
    1475,
    1484,
    1502,
    1514,
    1527,
    1534,
    1542,
    1550,
    1551,
    1542,
    1523,
    1504,
    1490,
    1476],
   'all_points_y': [78,
    72,
    63,
    56,
    52,
    56,
    62,
    81,
    107,
    123,
    138,
    146,
    148,
    144,
    115]},
  'region_attributes': {'dice_value': '6'}}]

In [228]:
from PIL import ImagePath, Image, ImageDraw
import numpy as np
image_size_dirr = pd.DataFrame(data=[image_size_dir.values(), image_size_dir.keys()]).T
image_size_dirr.columns = ['image_size', 'filename']
df = pd.DataFrame(data=annotations.values, columns=list(annotations.columns))
df = pd.merge(df, image_size_dirr)
output_df = pd.DataFrame(df['filename'])
output_df['coordinates'] = [None for i in df.index]
output_df['class_label'] = [None for i in df.index]
# df['masks'] = [[] for i in df.index]
masks = np.array([[] for i in df.index], dtype=int)
for i in df.index:
    cords = []
    labels = []
    for k,j in enumerate(df.loc[i, 'regions']):
        cords.append(tuple((min(j['shape_attributes']['all_points_x']), min(j['shape_attributes']['all_points_y']), max(j['shape_attributes']['all_points_x']), max(j['shape_attributes']['all_points_y']))))
        labels.append(j['region_attributes']['dice_value'])
        image = PIL.ImagePath.Path(list(zip(j['shape_attributes']['all_points_x'], j['shape_attributes']['all_points_y']))).getbbox()
        size = df.loc[i, 'image_size']
        img = Image.new("1", size, "white")  
        img1 = ImageDraw.Draw(img)   
        img1.polygon(list(zip(j['shape_attributes']['all_points_x'], j['shape_attributes']['all_points_y'])), fill ="black")
        img.save(path + 'masks/' + df.loc[i, 'filename'].split('.')[0] + '_mask' + str(k) + '.jpg')
        np.append(masks[i], img)
    output_df.at[i, 'coordinates'] = tuple(cords)
    output_df.at[i, 'class_label'] = tuple(labels)
np.save('masks.npy', masks, allow_pickle=True, fix_imports=True)
output_df.to_csv('processed_data.csv')
output_df.head()

,filename,coordinates,class_label
0,P_20240928_215338_changed1.jpg,"((360, 20, 456, 111), (474, 656, 587, 752), (5...","(5, 2, 1, 2, 6, 1, 1, 4, 5, 1, 6, 3)"
1,P_20240928_215338_changed2.jpg,"((1232, 156, 1328, 246), (980, 224, 1083, 322))","(6, 2)"
2,P_20240928_215338_changed3.jpg,"((80, 852, 153, 929), (207, 631, 311, 741), (3...","(5, 2, 3, 2, 4)"
3,P_20240928_215338_changed4.jpg,"((211, 37, 309, 131),)","(1,)"
4,P_20240928_215349_changed1.jpg,"((433, 1231, 505, 1296), (796, 1189, 880, 1274...","(3, 4, 2)"
5,P_20240928_215349_changed2.jpg,"((489, 49, 575, 131), (816, 7, 903, 91), (873,...","(4, 3, 1, 2, 3, 2, 5, 1, 3, 1, 3, 5, 2, 4, 5)"
6,P_20240928_215349_changed3.jpg,"((160, 1292, 242, 1378), (80, 1353, 159, 1427))","(6, 6)"
7,P_20240928_215349_changed4.jpg,"((4, 96, 89, 178), (275, 106, 357, 188), (548,...","(2, 3, 4, 5, 3, 3)"
8,P_20240928_215352_changed1.jpg,"((759, 1389, 845, 1471),)","(2,)"
9,P_20240928_215352_changed2.jpg,"((1457, 1, 1542, 77), (455, 749, 559, 851), (5...","(4, 3, 2, 6, 1, 1, 3, 4)"
10,P_20240928_215352_changed3.jpg,"((188, 1123, 259, 1197), (722, 986, 807, 1064)...","(3, 2, 4, 3)"
11,P_20240928_215352_changed4.jpg,"((662, 82, 765, 184), (446, 206, 537, 292), (9...","(1, 5, 2, 2, 5, 3, 3, 4, 3, 1, 1, 4)"
12,P_20240928_215355_changed1.jpg,"((578, 323, 683, 436), (907, 402, 980, 494), (...","(3, 6, 2, 4, 3)"
13,P_20240928_215355_changed2.jpg,"((748, -1, 842, 74), (1114, 2, 1199, 79), (115...","(6, 2, 5, 6, 5, 1, 1, 5, 2, 1, 5, 1, 5, 2, 1, ..."
14,P_20240928_215355_changed3.jpg,"((54, 1202, 142, 1292), (123, 1031, 188, 1102)...","(5, 4, 3, 1, 5, 3, 2, 1, 3)"
15,P_20240928_215355_changed4.jpg,"((454, 136, 544, 211), (393, 265, 478, 347), (...","(3, 1, 6, 5, 3, 4, 6, 5, 5, 1, 5, 5)"
16,P_20240928_215357_changed1.jpg,"((939, 13, 1036, 133), (290, 271, 391, 371), (...","(3, 3, 3, 1, 5, 6, 3, 1, 4)"
17,P_20240928_215357_changed2.jpg,"((646, 2, 743, 92), (934, 36, 1030, 132), (151...","(4, 6, 4, 5, 1, 5, 5, 5, 6, 2, 5, 5)"
18,P_20240928_215357_changed3.jpg,"((293, 261, 364, 360),)","(3,)"
19,P_20240928_215357_changed4.jpg,"((293, 53, 360, 118), (289, 137, 385, 229), (7...","(4, 5, 6, 6)"
20,P_20240928_215359_changed1.jpg,"((353, 91, 477, 222), (567, 148, 690, 271), (9...","(5, 6, 1, 5, 3, 3, 5, 2, 2, 1, 3, 2, 1)"
21,P_20240928_215359_changed2.jpg,"((287, 127, 400, 225), (201, 283, 325, 388), (...","(1, 3, 5, 1, 5, 2, 3, 3, 2, 4, 3, 6, 4, 2, 3, ..."
22,P_20240928_215359_changed3.jpg,"((25, 325, 136, 443), (342, 337, 460, 458), (9...","(4, 6, 4, 5, 5, 1, 5, 5)"
23,P_20240928_215359_changed4.jpg,"((449, 355, 545, 450), (1018, 181, 1118, 264),...","(2, 6, 4, 5, 2, 3, 6, 4, 1, 1)"
24,P_20240928_215400_changed1.jpg,"((605, 1310, 735, 1437), (707, 1204, 834, 1329...","(1, 1, 5, 2)"
25,P_20240928_215400_changed2.jpg,"((1373, 316, 1479, 435), (1266, 505, 1378, 627))","(1, 3)"
26,P_20240928_215400_changed3.jpg,"((516, 1, 642, 140), (646, 33, 784, 188), (921...","(6, 5, 3, 1, 2, 2, 1, 5, 3, 1)"
27,P_20240928_215400_changed4.jpg,"((143, 321, 257, 432), (46, 505, 159, 625), (4...","(1, 3, 5, 1, 5, 3, 3, 2, 4, 2, 3, 5, 6, 4)"
28,P_20240928_215403_changed1.jpg,"((775, 872, 862, 962), (955, 256, 1034, 350), ...","(5, 2, 3, 4, 3)"
29,P_20240928_215403_changed2.jpg,"((946, 7, 1040, 90), (1018, 155, 1118, 253), (...","(2, 1, 2, 6, 2)"
30,P_20240928_215403_changed3.jpg,"((1, 31, 109, 157), (38, 247, 140, 369), (356,...","(2, 5, 3, 4, 6, 4, 6, 1, 1, 6, 3, 5, 4, 2)"
31,P_20240928_215403_changed4.jpg,"((223, 103, 306, 183), (337, 149, 433, 241), (...","(2, 6, 1, 1, 5, 6, 2, 1)"
32,P_20240928_215405_changed1.jpg,"((730, 358, 878, 523), (295, 177, 436, 334), (...","(1, 4, 6, 1, 6, 5, 3)"
33,P_20240928_215405_changed2.jpg,"((585, 162, 734, 301), (1106, 1, 1249, 119), (...","(1, 2, 6, 1, 5, 1, 6)"
34,P_20240928_215405_changed3.jpg,"((183, 1081, 317, 1219), (157, 1276, 285, 1402))","(2, 3)"
35,P_20240928_215405_changed4.jpg,"((574, 552, 707, 689),)","(4,)"
36,P_20240928_215407_changed1.jpg,"((9, 0, 135, 127), (397, 72, 519, 204), (762, ...","(3, 4, 6, 1, 5, 5, 5)"
37,P_20240928_215407_changed2.jpg,"((1473, 204, 1569, 298), (795, 393, 903, 493),...","(6, 2, 4, 2, 5, 6, 3, 4, 4)"
38,P_20240928_215407_changed3.jpg,"((274, 76, 361, 200), (281, 191, 388, 327), (8...","(4, 5, 6)"
39,P_20240928_215407_changed4.jpg,"((251, 206, 342, 297),)","(6,)"
40,P_20240928_215410_changed1.jpg,"((1086, 0, 1194, 88), (206, 1198, 324, 1306), ...","(5, 1, 1, 2, 1, 5, 3, 2, 1)"
41,P_20240928_215410_changed2.jpg,"((921, 217, 1035, 323), (1187, 293, 1296, 401)...","(1, 5, 3, 5, 1, 2, 3, 4, 3)"
42,P_20240928_215410_changed3.jpg,"((110, 20, 211, 148), (229, 61, 337, 193), (49...","(6, 5, 1, 3, 4, 5)"
43,P_20240928_215410_changed4.jpg,"((0, 293, 70, 401), (20, 398, 110, 490), (278,...","(5, 1, 5, 3, 2, 3, 2, 4, 2, 6, 4, 3, 3, 5)"
44,P_20240928_215413_changed1.jpg,"((452, 492, 572, 612), (900, 542, 1001, 660), ...","(3, 6, 2)"
45,P_20240928_215413_changed2.jpg,"((152, 255, 268, 356), (792, 556, 909, 671), (...","(4, 6, 3, 5, 2, 5)"
46,P_20240928_215413_changed3.jpg,"((252, 334, 357, 466), (394, 583, 511, 709), (...","(1, 3, 1, 3, 4)"
47,P_20240928_215413_changed4.jpg,"((169, 186, 264, 280), (294, 60, 413, 176), (9...","(3, 5, 2, 5, 6, 5, 1, 3, 3)"
48,P_20240928_215415_changed1.jpg,"((233, 116, 350, 243), (376, 0, 481, 101), (95...","(4, 2, 6, 6, 2, 2, 3, 1, 5, 2)"
49,P_20240928_215415_changed2.jpg,"((369, 12, 487, 119), (798, 380, 910, 489), (0...","(6, 3, 3, 3)"

In [10]:
from PIL import ImagePath, Image, ImageDraw
import torch
import numpy as np
image_size_dirr = pd.DataFrame(data=[image_size_dir.values(), image_size_dir.keys()]).T
image_size_dirr.columns = ['image_size', 'filename']
df = pd.DataFrame(data=annotations.values, columns=list(annotations.columns))
df = pd.merge(df, image_size_dirr)
for i in df.index:
    cords = []
    labels = []
    if_any_region_marked = 0 # КОСТЫЛЬ!!! УБРАТЬ ЛИШНИЕ РЕГИОНЫ С ПИКЧ!!!
    mask_id = 0
    for j in df.loc[i, 'regions']:
        if j['region_attributes']['dice_value'] == '':
            continue
        if_any_region_marked += 1
        cords.append(tuple((min(j['shape_attributes']['all_points_x']), min(j['shape_attributes']['all_points_y']), max(j['shape_attributes']['all_points_x']), max(j['shape_attributes']['all_points_y']))))
        labels.append(int(j['region_attributes']['dice_value']))
        image = PIL.ImagePath.Path(list(zip(j['shape_attributes']['all_points_x'], j['shape_attributes']['all_points_y']))).getbbox()
        size = df.loc[i, 'image_size']
        img = Image.new("1", size, "black")
        img1 = ImageDraw.Draw(img)   
        img1.polygon(list(zip(j['shape_attributes']['all_points_x'], j['shape_attributes']['all_points_y'])), fill ="white")
        img.save(path + 'masks/' + df.loc[i, 'filename'].split('.')[0] + '_mask' + str(mask_id) + '.jpg')
        mask_id += 1
    torch.save(torch.tensor(cords, dtype=torch.float), path + 'coordinates/' + df.loc[i, 'filename'].split('.')[0] + '_coordinates.torch')
    torch.save(torch.tensor(labels, dtype=torch.int64), path + 'labels/' + df.loc[i, 'filename'].split('.')[0] + '_labels.torch')
    if not if_any_region_marked:
        df = df.drop(index=i)
# df = df.reindex(axis=0)
pd.DataFrame(df['filename']).to_csv(path + 'filename.csv')

In [13]:
sum(df['filename'] == 'P_20240928_215400_changed2.jpg')

0

In [14]:
sum(df['filename'] == 'P_20240928_215400_changed2.jpg')

0

In [15]:
df[df['filename'] == 'P_20240928_215400_changed2.jpg'].index

Index([], dtype='int64')

In [66]:
df = df.drop(index=25)

In [214]:
output_df.to_json('processed_data.json')